
<h1 style="font-size: 3vw; text-align: center">About MediPacket</h1> <br />
<h2>Што е MediPacket?</h2> <br />

<p>Како резултат на различни фактори, одредени групи на луѓе имаат потешкотии при набавување на потребните лекови. <br />
    Тоа може да биде поради некоја повреда, болест или пак постојаното одење во аптеките и долгото чекање. <br />
    Ова знае да биде доста заморно и да одзема многу време особено кога станува збор за стари лица. Заради <br />
    олеснување на процесот за нарачка и дистибуција на лекови би креирале систем кој ќе биде наменет за сите <br />
    оние кои имаат потреба од креирање на комбинација од лекови која може да биде дистрибуирана или пак подигната <br />
    од некоја од аптеките во Општина Центар. Доколку истиот пакет на лекови е наменет за личност која е хронично <br />
    болна и користи еден ист пакет на лекови на одреден период, тој пакет би се зачувал и би се подготвувал на <br />
    неделно или месечно ниво, а доколку корисникот има потреба од тоа, истиот може да биде и дистрибуиран. <br />
</p>
</body>
</html>